.Loader {
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #0000;
    border-right-color: currentcolor;
    border-top-color: currentcolor;
    border-bottom-color: currentcolor;
    position: relative;
    animation: l24 1s infinite linear;
}

.small {
    width: 16px;
}

.medium {
    width: 32px;
}

.large {
    width: 60px;
}

@keyframes l24 {
    100% {
        transform: rotate(1turn);
    }
}
